<div class="py-8 px-4 bg-white mt-7 rounded-xl">
  <h1 class="text-2xl font-bold mb-6">
    {{ "ADDPRODUCT.PRODUCTIMAGES" | translate }}
  </h1>
  <form class="upload-form space-y-4">
    <h2 class="text-xl font-semibold">{{ "ADDPRODUCT.MEDIA" | translate }}</h2>

    <label
      for="file"
      class="flex flex-col items-center justify-center w-full p-6 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer hover:border-blue-500"
    >
      <i class="ph ph-upload text-2xl text-gray-500"></i>

      <span class="text-gray-600">
        Drag & drop or
        <span class="text-blue-500 underline">browse</span>
        your files
      </span>
    </label>

    <input
      id="file"
      type="file"
      name="file"
      multiple
      (change)="
        onFilesSelected($event);
        $event.preventDefault();
        $event.stopPropagation()
      "
      class="hidden"
    />

    <div class="result flex flex-col space-y-4">
      <div
        *ngFor="let file of files; let i = index"
        class="flex items-center space-x-4 p-4 bg-gray-100 rounded-lg"
      >
        <div class="flex items-center space-x-4 p-4 bg-gray-100 rounded-lg">
          <i class="ph ph-file text-xl text-gray-500"></i>
          <div class="file-details flex flex-col">
            <span class="file-name font-medium">{{ file.name }}</span>
            <span class="file-size text-sm text-gray-500">{{ file.size }}</span>
          </div>
          <div
            class="upload-result flex items-center space-x-2"
            [ngClass]="{ flex: file.uploadStatus, hidden: !file.uploadStatus }"
          >
            <span class="text-sm">{{ file.uploadResult }}</span>
            <ng-container *ngIf="file.uploadStatus === 200; else error">
              <i class="ph ph-check-circle text-green-500"></i>
            </ng-container>
            <ng-template #error>
              <i class="ph ph-x-circle text-red-500"></i>
            </ng-template>
          </div>
        </div>
        <button
          (click)="removeFile(i)"
          class="ml-auto text-red-500 hover:text-red-700"
        >
          Remove
        </button>
        <img
          *ngIf="file.url"
          [src]="file.url"
          alt="image"
          width="200px"
          height="200px"
        />
      </div>
    </div>
  </form>
</div>
