<div class="card h-[400px] w-[250px] flex flex-col gap-10" (click)="clicked()">
  <div
    [routerLink]="['/product-detials', productId]"
    [ngStyle]="{ 'background-image': 'url(' + productImage + ')' }"
    class="z-10 w-full bg-[url(https://cdn.shopify.com/s/files/1/0684/4923/9327/files/Body-Cravings-Lip-_-Cheek-Tint-Strawberry-2-Source-Beauty-Egypt_large.png?v=1718112601)] bg-center bg-cover"
  >
    <img [src]="" alt="" />
  </div>
</div>

<div class="text-xl font-inter mt-5 mb-5">{{ productName }}</div>
<div
  class="mb-5 text-2lx text-red-600 line-through float-end"
  *ngIf="productPriceBefore != productPrice"
>
  EGP {{ productPriceBefore }}
</div>
<div class="mb-5 text-lg">EGP {{ productPrice }}</div>

<button
  (click)="$event.stopPropagation()"
  type="button"
  (click)="AddToCart()"
  class="text-gray-900 bg-white border-2 border-gray-300 focus:outline-none hover:bg-[#FDEDE1] hover:border-[#FDEDE1] focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm w-full px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
>
  Add To Cart
</button>
