<div
  class="card h-[270px] sm:h-[350] md:h-[400px] w-full flex flex-col gap-10"
  (click)="clicked()"
>
  <div
    [routerLink]="['/product-detials', productId]"
    [ngStyle]="{ 'background-image': 'url(' + productImage + ')' }"
    class="z-10 w-full h-56 p-2 bg-center bg-cover bg-no-repeat"
    style="background-position: center; background-size: contain"
  ></div>
</div>

<div class="text-xl font-inter mt-5 mb-5">{{ productName }}</div>
<div
  class="mb-5 text-2lx text-red-600 line-through float-end"
  *ngIf="productPriceBefore != productPrice"
>
  EGP {{ productPriceBefore }}
</div>
<div class="flex flex-row">
  <ng-container *ngFor="let star of GetYellow()">
    <svg class="text-yellow-400 h-5 w-5 fill-current" viewBox="0 0 24 24">
      <path
        d="M12 2c-.588 0-1.126.264-1.47.691L7.41 7.214 1.75 8.342a1.504 1.504 0 0 0-.86 2.559l4.207 4.194-1 5.917c-.096.562.145 1.13.623 1.455.477.324 1.113.324 1.59 0l5.318-2.795 5.317 2.795c.478.324 1.114.324 1.59 0 .478-.325.72-.893.623-1.455l-1-5.917 4.207-4.194a1.504 1.504 0 0 0-.86-2.559l-5.661-.728L13.47 2.69A1.501 1.501 0 0 0 12 2z"
      ></path>
    </svg>
  </ng-container>

  <ng-container *ngFor="let star of GetDark()">
    <svg class="text-gray-400 h-5 w-5 fill-current" viewBox="0 0 24 24">
      <path
        d="M12 2c-.588 0-1.126.264-1.47.691L7.41 7.214 1.75 8.342a1.504 1.504 0 0 0-.86 2.559l4.207 4.194-1 5.917c-.096.562.145 1.13.623 1.455.477.324 1.113.324 1.59 0l5.318-2.795 5.317 2.795c.478.324 1.114.324 1.59 0 .478-.325.72-.893.623-1.455l-1-5.917 4.207-4.194a1.504 1.504 0 0 0-.86-2.559l-5.661-.728L13.47 2.69A1.501 1.501 0 0 0 12 2z"
      ></path>
    </svg>
  </ng-container>
</div>
<div class="mb-5 text-lg">EGP {{ productPrice }}</div>

<button
  (click)="$event.stopPropagation()"
  type="button"
  (click)="AddToCart()"
  class="text-gray-900 bg-white border-2 border-gray-300 focus:outline-none hover:bg-[#FDEDE1] hover:border-[#FDEDE1] focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm w-full px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
>
  Add To Cart
</button>
