<div class="w-full overflow-hidden">
  <div class="flex flex-col">
    <!-- Dropdown Header -->
    <div class="group">
      <button
        (click)="toggleDropdown()"
        class="flex justify-between items-center w-full px-4 py-2 text-left text-gray-300 bg-transparent hover:bg-gray-700 focus:outline-none transition duration-300 ease-in-out"
      >
        {{ title }}
        <svg
          class="w-4 h-4 transition-transform transform group-hover:rotate-180"
          [ngClass]="{ 'rotate-180': isOpen }"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>

      <!-- Dropdown Items with Animation -->
      <div
        *ngIf="isOpen"
        class="pl-4 mt-2 space-y-2 bg-transparent border-l-4 border-pink-300 transition-all duration-300 ease-in-out"
        [@dropdownAnimation]
      >
        <ng-container *ngFor="let item of items">
          <div
            class="block px-4 py-2 text-white cursor-pointer hover:bg-pink-700 hover:bg-opacity-30 transition duration-200 ease-in-out"
            [ngClass]="{ 'bg-pink-700 bg-opacity-30': activeItem === item }"
            (click)="setActiveItem(item)"
          >
            {{ item }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
