<!-- <marquee
  direction="left"
  class="bg-red-400 text-black m-0 p-0"
  style="font-family: Calibri, sans-serif; color: #ffffff"
  scrolldelay="50"
  behavior="loop"
>
  <span *ngFor="let line of lines" class="text-black text-lg">
    {{ line }}
  </span>
</marquee> -->
<app-hero></app-hero>
<!-- <app-about></app-about> -->
<div class="flex flex-col lg:flex-row xl:flex-row h-fit">
  <app-filter-group
    class="w-full lg:w-1/4 xl:w-1/4 inline-block ms-5 h-fit xl:block"
  ></app-filter-group>

  <app-products-group class="w-3/4 h-fit"></app-products-group>
</div>
