<div
  class="w-full flex flex-col justify-end justify-items-end content-start align-end items-start"
>
  <app-filter-group class="mt-10"></app-filter-group>
  <hr />
  <div
    class="h-fit flex flex-row w-full justify-center align-middle items-center pb-28 justify-content-end align-content-end align-items-end"
  >
    <h1 *ngIf="category" class="text-2xl underline">
      {{ category.name }} products
    </h1>
    <div
      class="h-fit w-full flex flex-row flex-wrap justify-center content-center align-content-center align-middle items-center gap-5"
    >
      <app-card
        [product]="product"
        *ngFor="let product of Products"
        class="h-[530px] md:h-[600px] block"
      ></app-card>
    </div>
    <!-- <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div> -->
  </div>
</div>
