<br />
<br />
<div
  class="w-full grid grid-cols-12 justify-end justify-items-end content-start align-end items-start"
>
  <app-filter-group
    class="col-span-10 w-full ms-5 p-3 lg:col-span-3"
  ></app-filter-group>
  <div
    class="h-fit pb-28 pt-10 ps-10 flex flex-col justify-content-end align-content-end align-items-end col-span-11 lg:col-span-9"
  >
    <h1 *ngIf="category" class="text-2xl underline mt-2">
      {{ category.name }} products
    </h1>
    <div
      class="h-fit w-fit ps-10 flex flex-col justify-center align-content-center align-middle items-center gap-10 md:flex-row lg:flex-row xl:flex-row xl:gap-5 xl:justify-start xl:items-start xl:align-top xl:pt-0 xl:flex-wrap"
    >
      <app-card
        [product]="product"
        *ngFor="let product of Products"
        class="h-[37rem] w-fit block"
      ></app-card>
    </div>
    <!-- <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div> -->
  </div>
</div>
