<!-- Prices -->
<div class="space-y-2">
  <h6 class="text-base font-medium text-black dark:text-white">Prices</h6>
  <div class="flex items-center justify-between col-span-2 space-x-3">
    <div class="w-full">
      <label
        for="min-experience-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        From
      </label>

      <input
        type="number"
        id="price-from"
        value="300"
        min="1"
        max="10000"
        (change)="onMinPriceChange($event)"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder=""
        required
      />
    </div>

    <div class="w-full">
      <label
        for="price-to"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        To
      </label>

      <input
        type="number"
        id="max-experience-input"
        value="3500"
        min="1"
        max="10000"
        (change)="onMaxPriceChange($event)"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder=""
        required
      />
    </div>
  </div>
</div>
