<div *ngIf="nodes.length != 0" class="">
  <div class="bg-gray-400">
    <ng-template #tmplNode let-node="node">
      <div
        class="node-item m-0"
        [attr.data-id]="node.id"
        [attr.id]="'node-' + node.id"
      >
        <div
          *ngIf="node.isExpanded != null"
          class="node-title bg-white border border-black rounded-sm"
          (click)="node.isExpanded = !node.isExpanded"
        >
          <i class="pi pi-ellipsis-v me-[-10px]" style="color: green"></i>
          <i class="pi pi-ellipsis-v" style="color: green"></i>
          {{
            node.childsCategories?.length
              ? node.isExpanded
                ? "-&nbsp;"
                : "+"
              : "&nbsp;&nbsp;&nbsp;"
          }}
          &nbsp;&nbsp;&nbsp; {{ node.name }}
          <span class="item-notes"
            >({{ node.childsCategories?.length }}
            {{
              node.childsCategories?.length
                ? ", expanded: " + !!node.isExpanded
                : ""
            }})</span
          >

          <!-- Add buttons for adding/removing child categories -->
          <button
            class="rounded-lg p-2 bg-green-400"
            (click)="addChildCategory(node.id)"
          >
            Add Child Category
          </button>
          <button class="rounded-lg p-2" (click)="removeItem(node.id)">
            Remove
          </button>
        </div>

        <div
          *ngIf="
            node.isExpanded != null &&
            node.isExpanded &&
            node.childsCategories?.length != 0
          "
          class="node-children"
          cdkDropList
          [cdkDropListData]="node.childsCategories"
          [id]="node.id"
          [cdkDropListConnectedTo]="dropTargetIds"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListSortingDisabled]="true"
        >
          <div
            *ngFor="let child of node.childsCategories"
            cdkDrag
            [cdkDragData]="child.id"
            (cdkDragMoved)="dragMoved($event)"
          >
            <ng-container
              *ngTemplateOutlet="tmplNode; context: { node: child }"
            ></ng-container>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div>
    <button
      class="bg-green-600 text-white p-2 rounded-lg my-2"
      (click)="addItem()"
    >
      Add new category
    </button>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="nodes"
    [id]="'main'"
    [cdkDropListConnectedTo]="dropTargetIds"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListSortingDisabled]="true"
    class="bg-gray-300 p-3"
  >
    <div
      *ngFor="let node of nodes"
      cdkDrag
      [cdkDragData]="node.id"
      (cdkDragMoved)="dragMoved($event)"
    >
      <ng-container
        *ngTemplateOutlet="tmplNode; context: { node: node }"
      ></ng-container>
    </div>
  </div>
</div>
