<div aria-label="Page navigation example h-fit">
  <ul class="inline-flex gap-5 -space-x-px text-lg h-10">
    <li
      class="border border-gray-400 rounded-s-lg"
      *ngIf="page.hasPreviousPage"
    >
      <a
        (click)="GoToPage(page.page - 1)"
        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >Previous</a
      >
    </li>
    <li
      class="border border-red-100 rounded-3xl w-fit h-fit"
      *ngFor="let page of page.lastPages"
    >
      <a
        (click)="GoToPage(page)"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ page }}</a
      >
    </li>
    <li class="border border-red-100 rounded-3xl w-fit h-fit">
      <a
        href="#"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-red-50 border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ page.page }}</a
      >
    </li>
    <li
      class="border border-red-100 rounded-3xl w-fit h-fit"
      *ngFor="let page of page.nextPages"
    >
      <a
        (click)="GoToPage(page)"
        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >{{ page }}</a
      >
    </li>
    <!-- 
      <li class="border border-red-100 rounded-3xl w-fit h-fit">
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li>

      <li class="border border-red-100 rounded-3xl w-fit h-fit">
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li>

      <li class="border border-red-100 rounded-3xl w-fit h-fit">
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li>

      <li class="border border-red-100 rounded-3xl w-fit h-fit">
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li>

      <li class="border border-red-100 rounded-3xl w-fit h-fit">
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-full hover:bg-red-100 hover:text-white hover:border-red-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li> -->

    <!-- <li>
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
      </li>
      <li>
        <a href="#" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
      </li>-->
    <li *ngIf="page.hasNextPage">
      <a
        (click)="GoToPage(page.page + 1)"
        class="flex items-center cursor-pointer justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >Next</a
      >
    </li>
  </ul>
</div>
