<div class=" mx-auto flex-col justify-between h-[1300px] align-middle">
    <div class=" flex flex-row flex-wrap gap-5 gap-y-80 justify-start align-middle h-fit">
        <div class="h-fit w-fit">
            <app-card [Produtc]="product"></app-card>
        </div>
        <div class="h-fit w-fit">
            <app-card [Produtc]="product"></app-card>
        </div>
        <div class="h-fit w-fit">
            <app-card [Produtc]="product"></app-card>
        </div>
        <div class="h-fit w-fit">
            <app-card [Produtc]="product"></app-card>
        </div>
        <div class="h-fit w-fit">
            <app-card [Produtc]="product"></app-card>
        </div>
        <div class="h-fit w-fit">
            <app-card [Produtc]="product"></app-card>
        </div>
       
    </div>

</div>
<app-pagination class="mb-3.5"></app-pagination>
