<div
  class="w-full flex flex-col justify-end justify-items-end content-start align-end items-start"
>
  <div
    class="h-fit pb-28 ps-10 flex flex-col justify-content-end align-content-end align-items-end"
  >
    <div
      class="h-fit w-fit ps-10 flex flex-col justify-center align-content-center align-middle items-center gap-10 md:flex-row lg:flex-row xl:flex-row xl:gap-5 xl:justify-start xl:items-start xl:align-top xl:pt-0 xl:flex-wrap"
    >
      <app-card
        [product]="product"
        *ngFor="let product of Products"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="h-[37rem] w-fit block"
      ></app-card>
    </div>
    <!-- <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div>
    <div class="h-fit w-fit">
      <app-card [product]="product"></app-card>
    </div> -->
  </div>
</div>
<app-pagination
  class="mb-3.5 h-fit text-center"
  [page]="page"
  (goToPage)="GoToPage($event)"
></app-pagination>
