<nav class="bg-white border-gray-200 dark:bg-gray-900 flex justify-around">
  <div
    class="max-w-screen-xl inline-flex w-full items-center justify-between p-4 ms-10"
  >
    <div class="flex justify-start gap-10">
      <a
        routerLink="/admin"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img
          src="https://flowbite.com/docs/images/logo.svg"
          class="h-8"
          alt="Flowbite Logo"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >Dashboard</span
        >
      </a>
      <div class="hidden w-full my-auto md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <a
              [routerLink]="['/admin']"
              [ngClass]="{ 
                'text-blue-700': currentRoute === 'admin',


               }"
              class="block py-2 px-3 rounded md:bg-transparent md:p-0"
              aria-current="page"
              >{{ "DASHBOARD.DASHBOARD" | translate }}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['products']"
              [ngClass]="{ 
                'text-blue-700': currentRoute === 'products',

               }"
              class="block py-2 px-3 rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500"
            >
              {{ "DASHBOARD.MENU.PRODUCTS" | translate }}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['add-category']"
              [ngClass]="{ 
                'text-blue-700': currentRoute === 'add-category',

               }"
              class="block py-2 px-3 rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500"
            >
              {{ "DASHBOARD.MENU.ADDCATEGORIES" | translate }}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['orders']"
              [ngClass]="{ 
                'text-blue-700': currentRoute === 'orders',

               }"
              class="block py-2 px-3 rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500"
            >
              {{ "DASHBOARD.MENU.SALES" | translate }}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['administration']"
              [ngClass]="{ 
                'text-blue-700': currentRoute === 'administration',

               }"
              class="block py-2 px-3 rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500"
            >
              {{ "DASHBOARD.MENU.ADMINISTRATION" | translate }}</a
            >
          </li>
          <li>
            <a
              [routerLink]="['coupon']"
              [ngClass]="{ 
                'text-blue-700': currentRoute === 'coupon',

               }"
              class="block py-2 px-3 rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500"
            >
              {{ "DASHBOARD.MENU.COUPON" | translate }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <button
        type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button"
      >
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full" alt="user photo" />
      </button>
      <!-- Dropdown menu -->
      <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
        id="user-dropdown"
      >
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white"
            >Bonnie Green</span
          >
          <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
            >name.com</span
          >
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a
              [routerLink]="['admin']"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Settings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Earnings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Sign out</a
            >
          </li>
        </ul>
      </div>

      <button
        id="dropdownMenuIconButton"
        data-dropdown-toggle="dropdownDots"
        class="inline-flex items-center p-2 ps-10 text-sm font-medium text-center text-gray-900 bg-transparent rounded-lg dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button"
      >
        <svg
          width="30px"
          height="30px"
          viewBox="0 0 24 24"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          aria-labelledby="languageIconTitle"
          stroke="#000000"
          stroke-width="1"
          stroke-linecap="square"
          stroke-linejoin="miter"
          fill="none"
          color="#000000"
        >
          <title id="languageIconTitle">Language</title>
          <circle cx="12" cy="12" r="10" />
          <path
            stroke-linecap="round"
            d="M12,22 C14.6666667,19.5757576 16,16.2424242 16,12 C16,7.75757576 14.6666667,4.42424242 12,2 C9.33333333,4.42424242 8,7.75757576 8,12 C8,16.2424242 9.33333333,19.5757576 12,22 Z"
          />
          <path stroke-linecap="round" d="M2.5 9L21.5 9M2.5 15L21.5 15" />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div
        id="dropdownDots"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownMenuIconButton"
        >
          <li>
            <a
              (click)="SetLnaguage('en')"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >English</a
            >
          </li>
          <li>
            <a
              (click)="SetLnaguage('ar')"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >عربي
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button
    data-drawer-target="drawer-navigation"
    data-drawer-show="drawer-navigation"
    aria-controls="drawer-navigation"
    type="button"
    class="col-span-2 items-center p-2 ms-2 mt-3 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
  >
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 17 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 1h15M1 7h15M1 13h15"
      />
    </svg>
  </button>
</nav>
<!-- <img src="../../../assets/img/dashboard/header/aside.svg" alt="" /> -->
<!-- drawer component -->
<div
  id="drawer-navigation"
  class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-no-repeat bg-cover bg-center bg-gray-800 dark:bg-gray-800"
  tabindex="-1"
  style="
    background-image: url('../../../assets/img/dashboard/header/aside.svg');
  "
  aria-labelledby="drawer-navigation-label"
>
  <h5
    id="drawer-navigation-label"
    class="text-base font-semibold text-white uppercase dark:text-gray-400"
  >
    {{ "DASHBOARD.MENU.MENU" | translate }}
  </h5>
  <button
    type="button"
    data-drawer-hide="drawer-navigation"
    aria-controls="drawer-navigation"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div class="py-4 overflow-y-auto">
    <ul id="catalog" class="py-2 space-y-2">
      <li>
        <a
          [routerLink]="['products']"
          [ngClass]="{ 
                'bg-gradient-to-r from-rose-600 to-red-400': currentRoute === 'products',

               }"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
        >
          {{ "DASHBOARD.MENU.PRODUCTS" | translate }}</a
        >
      </li>

      <li>
        <a
          [routerLink]="['add-category']"
          [ngClass]="{ 
                'bg-gradient-to-r from-rose-600 to-red-400': currentRoute === 'add-category',

               }"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
        >
          {{ "DASHBOARD.MENU.CATEGORIES" | translate }}</a
        >
      </li>
      <li>
        <a
          [routerLink]="['orders']"
          [ngClass]="{ 
                'bg-gradient-to-r from-rose-600 to-red-400': currentRoute === 'orders',

               }"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
        >
          {{ "DASHBOARD.MENU.SALES" | translate }}</a
        >
      </li>
      <li>
        <a
          [routerLink]="['administration']"
          [ngClass]="{ 
                'bg-gradient-to-r from-rose-600 to-red-400': currentRoute === 'adminisstration',

               }"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
        >
          {{ "DASHBOARD.MENU.ADMINISTRATION" | translate }}</a
        >
      </li>
      <li>
        <a
          [routerLink]="['contact']"
          [ngClass]="{ 
                'bg-gradient-to-r from-rose-600 to-red-400': currentRoute === 'contact',

               }"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
        >
          Contact</a
        >
      </li>
      <li>
        <a
          [routerLink]="['coupon']"
          [ngClass]="{ 
                'bg-gradient-to-r from-rose-600 to-red-400': currentRoute === 'coupon',

               }"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
        >
          {{ "DASHBOARD.MENU.COUPON" | translate }}</a
        >
      </li>
      <li *ngIf="!auth.isAuthenticated()">
        <a
          [routerLink]="['shipment']"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
        >
          Shipment</a
        >
      </li>
      <li>
        <app-slide-dropdown
          [title]="'shipment'"
          [items]="['Dashboard', 'Profile']"
          (itemSelected)="onItemSelected($event)"
        ></app-slide-dropdown>
      </li>

      <!-- <li>
        <a
          href="#"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
          >Customers</a
        >
      </li>
      <li>
        <a
          href="#"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
          >Product Viewed</a
        >
      </li>
      <li>
        <a
          href="#"
          class="flex items-center w-full p-2 pl-11 text-base font-normal text-gray-300 rounded-lg transition duration-75 hover:bg-gray-700"
          >shipping</a
        >
      </li> -->
    </ul>
  </div>
</div>
