<div
  class="cursor-pointer flex w-full h-[250px] max-w-[250px] lg:max-w-2xl xl:max-w-[70rem] md:h-[400px] xl:h-full flex-col overflow-hidden rounded-xl border border-gray-100 bg-white"
>
  <a
    [routerLink]="['/product-detials', product.id]"
    class="relative lg:mx-3 lg:mt-3 mb-10 flex h-full overflow-hidden rounded-xl"
  >
    <!-- Spinner shown when images are loading -->
    <div class="flex justify-content-center h-full w-full" *ngIf="isLoading">
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
        class="w-full h-full flex justify-center align-middle items-center"
      />
    </div>

    <!-- Images shown when loading is complete -->
    <img
      *ngIf="!isLoading"
      class="peer absolute top-0 right-0 h-full w-full object-scale-down"
      [src]="masterImage"
      alt="product image"
    />
    <img
      *ngIf="!isLoading"
      class="peer absolute top-0 -right-96 h-full w-full object-cover transition-all delay-100 duration-1000 hover:right-0 peer-hover:right-0"
      [src]="secondImage"
      alt="product image"
    />
  </a>

  <!-- Rest of the content (product details, rating, etc.) -->
  <div
    class="lg:mt-2 lg:px-5 lg:pb-10 pt-3 bg-[#ffeae6] h-[112px] md:h-32 lg:h-40 text-ellipsis"
  >
    <a class="block">
      <h5 class="text-xs md:text-md tracking-tight text-slate-900 text-nowrap">
        {{ product?._name }}
      </h5>
    </a>

    <div class="flex flex-row">
      <ng-container *ngFor="let star of GetYellow()">
        <svg class="text-yellow-400 h-5 w-5 fill-current" viewBox="0 0 24 24">
          <path
            d="M12 2c-.588 0-1.126.264-1.47.691L7.41 7.214 1.75 8.342a1.504 1.504 0 0 0-.86 2.559l4.207 4.194-1 5.917c-.096.562.145 1.13.623 1.455.477.324 1.113.324 1.59 0l5.318-2.795 5.317 2.795c.478.324 1.114.324 1.59 0 .478-.325.72-.893.623-1.455l-1-5.917 4.207-4.194a1.504 1.504 0 0 0-.86-2.559l-5.661-.728L13.47 2.69A1.501 1.501 0 0 0 12 2z"
          ></path>
        </svg>
      </ng-container>

      <ng-container *ngFor="let star of GetDark()">
        <svg class="text-gray-400 h-5 w-5 fill-current" viewBox="0 0 24 24">
          <path
            d="M12 2c-.588 0-1.126.264-1.47.691L7.41 7.214 1.75 8.342a1.504 1.504 0 0 0-.86 2.559l4.207 4.194-1 5.917c-.096.562.145 1.13.623 1.455.477.324 1.113.324 1.59 0l5.318-2.795 5.317 2.795c.478.324 1.114.324 1.59 0 .478-.325.72-.893.623-1.455l-1-5.917 4.207-4.194a1.504 1.504 0 0 0-.86-2.559l-5.661-.728L13.47 2.69A1.501 1.501 0 0 0 12 2z"
          ></path>
        </svg>
      </ng-container>
    </div>

    <div class="lg:mt-2 mb-1 md:nb-3 flex items-center justify-between">
      <p>
        <span class="text-xs md:text-sm text-slate-900 line-through me-2"
          >LE {{ product._price._price }} EGP</span
        >
        <span class="text-xs md:text-md font-sans text-slate-900"
          >{{ product._price._total }} EGP</span
        >
      </p>
    </div>

    <a
      (click)="AddToBasket(product)"
      class="flex items-center justify-center rounded-md lg:px-3 mx-3 mb-3 py-1.5 md:px-5 md:py-2.5 text-center text-xs md:text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300"
      [ngStyle]="{ backgroundColor: buttonColor }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mr-2 h-4 w-4 md:h-6 md:w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        />
      </svg>
    </a>
  </div>
</div>
