<div class="bg-[#f2f5f8]">
  <div class="h-fit bg-white w-full flex justify-between border-t-2 pt-3 px-5">
    <h3 class="text-lg font-bold">eCommerce Dash Board</h3>
    <div class="flex gap-5">
      <button
        type="button"
        class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        Manage Sales
      </button>

      <button
        type="button"
        class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Add Product
      </button>
    </div>
  </div>

  <div
    class="flex flex-col p-5 gap-5 xl:gap-2 px-10 justify-center xl:justify-normal w-full"
  >
    <div class="flex flex-col xl:flex-row justify-center h-fit w-full">
      <div
        class="flex xl:flex-none gap-8 xl:gap-3 justify-center xl:justify-items-stretch w-full xl:w-1/2"
      >
        <app-earning-chart></app-earning-chart>

        <app-daily-sales-chart></app-daily-sales-chart>
      </div>

      <app-month-sales class="xl:flex-grow"></app-month-sales>
    </div>
    <div
      class="flex flex-col xl:flex-row xl:justify-between justify-center justify-items-center gap-4 xl:gap-2 h-fit w-full"
    >
      <app-recent-order-table class="xl:w-1/2"></app-recent-order-table>
      <app-product-order-table
        class="xl:w-1/2 w-full"
      ></app-product-order-table>
    </div>
  </div>
</div>
