<div class="glide p-5 md:p-10" *ngIf="products.length > 0">
  <div class="text-2xl md:text-4xl lg:text-6xl m-5 ms-20 md:ms-40">
    {{ carsoul.groupName }}
  </div>
  <div class="glide__track rounded-lg h-fit" data-glide-el="track">
    <carousel
      [infinite]="true"
      [slideToShow]="5"
      [counter]="false"
      [slideToScroll]="1"
      [slideWidth]="200"
    >
      <div
        class="carousel-slide"
        *ngFor="let product of products; let i = index"
      >
        <app-carousel-card
          [product]="product"
          data-aos="fade-up"
          [attr.data-aos-duration]="1000 * i"
          data-aos-once="true"
        ></app-carousel-card>
      </div>
    </carousel>
  </div>
  <!-- Arrows can be re-added here if needed -->
</div>
