<div class="glide p-5 md:p-10 flex flex-col" *ngIf="products.length > 0">
  <div class="text-2xl w-fit inline md:text-4xl lg:text-4xl m-5 ms-10 md:ms-30">
    {{ carsoul.groupName }}
  </div>
  <div
    class="glide__track rounded-lg h-fit overflow-hidden"
    data-glide-el="track"
  >
    <carousel
      [infinite]="true"
      [slideToShow]="slideToShow"
      [counter]="false"
      [slideToScroll]="1"
      [slideWidth]="200"
      [slideWidth]="100"
      [slideMaxWidth]="300"
      [gapBetweenSlides]="3"
    >
      <div
        class="carousel-slide"
        *ngFor="let product of products; let i = index"
      >
        <app-carousel-card
          [product]="product"
          [buttonColor]="buttonColor"
          data-aos="fade-up"
          [attr.data-aos-duration]="1000 * i"
          data-aos-once="true"
          class="w-[150px] block sm:w-[180px] sm:h-[400px] md:w-[160px] lg:w-[180px] xl:w-[230px] xl:mx-2 xl:h-[400px] 2xl:w-[280px] 2xl:h-[450px]"
        ></app-carousel-card>
      </div>
    </carousel>
  </div>
  <button
    [routerLink]="['/category-products']"
    type="button"
    class="text-white w-[150px] self-center mt-5 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    [ngStyle]="{ backgroundColor: buttonColor }"
  >
    Veiw All
  </button>

  <!-- Arrows can be re-added here if needed -->
</div>
