<div class="glide p-10" *ngIf="products.length > 0">
  <div class="text-6xl m-5 ms-40">{{ carsoul.groupName }}</div>
  <div class="glide__track rounded-lg h-fit" data-glide-el="track">
    <carousel
      [infinite]="true"
      [slideToShow]="5"
      [counter]="false"
      [slideToScroll]="1"
    >
      <div
        class="carousel-slide"
        *ngFor="let product of products; let i = index"
      >
        <app-carousel-card
          [product]="product"
          data-aos="fade-up"
          [attr.data-aos-duration]="1000 * i"
          data-aos-once="true"
        ></app-carousel-card>
      </div>
    </carousel>
  </div>
  <!-- 
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <i class="pi pi-arrow-left text-black" style="font-size: 2rem"></i>
    </button>
    <button
      class="glide__arrow glide__arrow--right text-black"
      data-glide-dir=">"
    >
      <i class="pi pi-arrow-right text-black" style="font-size: 2rem"></i>
    </button>
  </div> -->
</div>
