<section
  class="w-full bg-center bg-cover bg-no-repeat bg-orange-300 bg-blend-multiply h-lvh mt-[-7px]"
  [ngStyle]="{ 'background-image': HeroImageUrl() }"
>
  <div
    *ngIf="translateService.currentLang == 'en'"
    class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56"
  >
    <h1
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="500"
      style="animation-delay: 1s"
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
    >
      {{ title_eng }}
    </h1>
    <p
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="1000"
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
    >
      {{ desc_eng }}
    </p>
  </div>
  <div
    *ngIf="translateService.currentLang == 'ar'"
    class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56"
  >
    <h1
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="1000"
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
    >
      {{ title_arb }}
    </h1>
    <p
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="2000"
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
    >
      {{ desc_arb }}
    </p>
  </div>
</section>
