<section
  class="w-full bg-center bg-cover bg-no-repeat bg-orange-300 h-[50vh] sm:h-[60vh] md:h-[70vh] lg:h-[80vh] xl:h-[90vh] mt-[-7px]"
  [ngStyle]="{ 'background-image': 'url(' + myHero + ')' }"
>
  <div
    class="card flex justify-content-center w-full h-full"
    *ngIf="heroLoading"
  >
    <p-progressSpinner
      ariaLabel="loading"
      class="w-full h-full flex justify-center pt-40"
    />
  </div>
  <div
    *ngIf="translateService.currentLang == 'en'"
    class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56"
  >
    <h1
      style="animation-delay: 1s"
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl animate-slideInLeft"
    >
      {{ title_eng }}
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
    >
      {{ desc_eng }}
    </p>
  </div>
  <div
    *ngIf="translateService.currentLang == 'ar'"
    class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56"
  >
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
    >
      {{ title_arb }}
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
    >
      {{ desc_arb }}
    </p>
  </div>
</section>
<!-- Hidden image element to track the load event -->
<img [src]="myHero" (load)="onImageLoad()" alt="hero image" class="hidden" />
