<div class="h-fit flex justify-between px-5 py-2 bg-white border-t-2">
  <div class="flex justify-start gap-10 w-1/2 ps-10">
    <h3 class="text-xl font-bold ms-10 my-auto">
      {{ "ODRERDETAILS.ORDERDETIALS" | translate }}
    </h3>

    <nav class="flex" aria-label="Breadcrumb">
      <ol
        class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
      >
        <li class="inline-flex items-center">
          <a
            href="#"
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
          >
            <svg
              class="w-3 h-3 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
              />
            </svg>
            {{ "ODRERDETAILS.DASHBOARD" | translate }}
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <a
              [routerLink]="['../../']"
              class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
              >{{ "ODRERDETAILS.ORDERLIST" | translate }}</a
            >
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <a
              href="#"
              class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
              >{{ "ODRERDETAILS.ORDERDETIALS" | translate }}</a
            >
          </div>
        </li>
      </ol>
    </nav>
  </div>
</div>

<!--      Content            -->

<div class="m-4">
  <div
    class="text-lg font-medium text-center text-gray-500 dark:text-gray-400 dark:border-gray-700"
  >
    <ul class="flex flex-row flex-wrap mb-px justify-between">
      <li class="me-1">
        <a
          class="inline-block p-2 ms-10 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
          >{{ "ODRERDETAILS.ORDERSUMMARY" | translate }}</a
        >
      </li>
      <li class="me-10 mt-5">
        <p-splitButton
          class="bg-red-600 rounded-lg p-3 text-white"
          label="Submit Order"
          [model]="items"
          severity="success"
        />
      </li>
      <!-- <li class="me-2">
        <a
          href="#"
          class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-blue-600 dark:hover:text-gray-300"
          aria-current="page"
          >Order History</a
        >
      </li> -->
    </ul>
  </div>
</div>

<!-- Detals -->

<div class="flex flex-col m-10 gap-10">
  <div class="flex gap-10">
    <div class="w-1/2 bg-white p-5 border-0 rounded-lg">
      <h3 class="text-xl font-bold m-3 mb-7">
        {{ "ODRERDETAILS.ORDERDETIALS" | translate }}
      </h3>
      <div class="flex justify-between text-gray-400">
        <p class="flex">
          <span class="svg-icon svg-icon-2 me-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                opacity="0.3"
                d="M19 3.40002C18.4 3.40002 18 3.80002 18 4.40002V8.40002H14V4.40002C14 3.80002 13.6 3.40002 13 3.40002C12.4 3.40002 12 3.80002 12 4.40002V8.40002H8V4.40002C8 3.80002 7.6 3.40002 7 3.40002C6.4 3.40002 6 3.80002 6 4.40002V8.40002H2V4.40002C2 3.80002 1.6 3.40002 1 3.40002C0.4 3.40002 0 3.80002 0 4.40002V19.4C0 20 0.4 20.4 1 20.4H19C19.6 20.4 20 20 20 19.4V4.40002C20 3.80002 19.6 3.40002 19 3.40002ZM18 10.4V13.4H14V10.4H18ZM12 10.4V13.4H8V10.4H12ZM12 15.4V18.4H8V15.4H12ZM6 10.4V13.4H2V10.4H6ZM2 15.4H6V18.4H2V15.4ZM14 18.4V15.4H18V18.4H14Z"
                fill="currentColor"
              ></path>
              <path
                d="M19 0.400024H1C0.4 0.400024 0 0.800024 0 1.40002V4.40002C0 5.00002 0.4 5.40002 1 5.40002H19C19.6 5.40002 20 5.00002 20 4.40002V1.40002C20 0.800024 19.6 0.400024 19 0.400024Z"
                fill="currentColor"
              ></path>
            </svg>
          </span>
          {{ "ODRERDETAILS.DATEADDED" | translate }}
        </p>
        <p>{{ formatDate(Order.createdDate) }}</p>
      </div>
      <hr class="my-3" />
      <div class="flex text-gray-400 h-[30px] justify-between">
        <p class="flex">
          <span class="svg-icon svg-icon-2 me-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                opacity="0.3"
                d="M3.20001 5.91897L16.9 3.01895C17.4 2.91895 18 3.219 18.1 3.819L19.2 9.01895L3.20001 5.91897Z"
                fill="currentColor"
              ></path>
              <path
                opacity="0.3"
                d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21C21.6 10.9189 22 11.3189 22 11.9189V15.9189C22 16.5189 21.6 16.9189 21 16.9189H16C14.3 16.9189 13 15.6189 13 13.9189ZM16 12.4189C15.2 12.4189 14.5 13.1189 14.5 13.9189C14.5 14.7189 15.2 15.4189 16 15.4189C16.8 15.4189 17.5 14.7189 17.5 13.9189C17.5 13.1189 16.8 12.4189 16 12.4189Z"
                fill="currentColor"
              ></path>
              <path
                d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21V7.91895C21 6.81895 20.1 5.91895 19 5.91895H3C2.4 5.91895 2 6.31895 2 6.91895V20.9189C2 21.5189 2.4 21.9189 3 21.9189H19C20.1 21.9189 21 21.0189 21 19.9189V16.9189H16C14.3 16.9189 13 15.6189 13 13.9189Z"
                fill="currentColor"
              ></path>
            </svg> </span
          >{{ "ODRERDETAILS.PAYMENTMETHOD" | translate }}
        </p>
        <p class="flex gap-5 font-bold">
          {{ "ODRERDETAILS.CASH" | translate }}
          <img
            class="h-full"
            src="../../../../assets/img/dashboard/order-details/cash-svgrepo-com.svg"
            alt=""
          />
        </p>
      </div>
      <hr class="my-3" />
      <div class="flex text-gray-400 h-[40px] justify-between">
        <p class="flex">Order Sate</p>
        <div class="flex align-middle justify-between items-center gap-2">
          <!-- <p
            class="flex p-2 rounded-lg font-bold"
            [ngClass]="stateStyle[Order.state] || stateStyle['default']"
          >
            {{ Order.state }}
          </p>
          <i
            class="text-xl"
            [ngClass]="stateIcon[Order.state] || stateIcon['default']"
          ></i> -->
          <app-state-badge
            [state]="Order.state"
            [showIcon]="true"
          ></app-state-badge>
        </div>
      </div>
    </div>

    <div class="w-1/2 bg-white p-5 border-0 rounded-lg">
      <h3 class="text-xl font-bold m-3 mb-7">
        {{ "ODRERDETAILS.CUSTOMERDETAILS" | translate }}
      </h3>
      <div class="flex justify-between text-gray-400">
        <p class="flex">
          <span class="svg-icon svg-icon-2 me-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                opacity="0.3"
                d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z"
                fill="currentColor"
              ></path>
              <path
                d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z"
                fill="currentColor"
              ></path>
            </svg>
          </span>
          {{ "ODRERDETAILS.CUSTOMER" | translate }}
        </p>
        <p>{{ Order.customerName }}</p>
      </div>
      <hr class="my-3" />
      <div class="flex text-gray-400 h-[30px] justify-between">
        <p class="flex">
          <span class="svg-icon svg-icon-2 me-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                opacity="0.3"
                d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z"
                fill="currentColor"
              ></path>
              <path
                d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z"
                fill="currentColor"
              ></path>
            </svg>
          </span>
          {{ "ODRERDETAILS.EMAIL" | translate }}
        </p>
        <p class="flex gap-5 font-bold">
          {{ "dam@consilting.com" }}
        </p>
      </div>
      <hr class="my-3" />
      <div class="flex text-gray-400 h-[30px] justify-between">
        <p class="flex">
          <span class="svg-icon svg-icon-2 me-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M5 20H19V21C19 21.6 18.6 22 18 22H6C5.4 22 5 21.6 5 21V20ZM19 3C19 2.4 18.6 2 18 2H6C5.4 2 5 2.4 5 3V4H19V3Z"
                fill="currentColor"
              ></path>
              <path
                opacity="0.3"
                d="M19 4H5V20H19V4Z"
                fill="currentColor"
              ></path>
            </svg>
          </span>
          >{{ "ODRERDETAILS.PHONE" | translate }}
        </p>
        <p class="flex gap-5 font-bold">
          {{ Order.phoneNumber }}
        </p>
      </div>
    </div>
  </div>

  <!------------  Shipping Address -------------->

  <div class="flex bg-white p-5 border rounded-lg">
    <div class="flex flex-col w-1/2">
      <div class="text-lg font-bold self-center">
        {{ "ODRERDETAILS.SHIPPINGADDRESS" | translate }}
      </div>
      <div class="flex flex-row justify-between w-full mt-5">
        <p>
          <span class="font-bold"> {{ "ODRERDETAILS.STATE" | translate }} </span
          >: {{ Order.address.state }},<br />
          <span class="font-bold"> {{ "ODRERDETAILS.CITY" | translate }} </span>
          : {{ Order.address.city }},<br />
          <span class="font-bold">
            {{ "ODRERDETAILS.ADDRESSLINE1" | translate }} </span
          >: {{ Order.address.firstLine }},<br />
          <span class="font-bold">
            {{ "ODRERDETAILS.ADDRESSLINE2" | translate }} </span
          >: {{ Order.address.secondLine || "-" }},<br />
        </p>
        <p>
          <span class="font-bold">
            {{ "ODRERDETAILS.BUILDINGNUMBER" | translate }} </span
          >: {{ Order.address.buildingNumber }},<br />
          <span class="font-bold"> {{ "ODRERDETAILS.FLOOR" | translate }} </span
          >: {{ Order.address.floor }},<br />
          <span class="font-bold">
            {{ "ODRERDETAILS.APARTMENT" | translate }} </span
          >: {{ Order.address.apartment }}<br />
        </p>
      </div>
    </div>

    <div class="w-full h-[10rem]">
      <img
        class="w-full h-full opacity-10"
        src="../../../../assets/img/dashboard/order-details/ecm006.svg"
        alt=""
      />
    </div>
  </div>

  <!--  Order Table -->

  <div class="container m-5 my-8 p-4 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">
      {{ "ODRERDETAILS.ORDER" | translate }}
    </h2>
    <table class="min-w-full bg-white">
      <thead>
        <tr class="w-full border-b">
          <th class="py-2 text-left">
            {{ "ODRERDETAILS.PRODUCT" | translate }}
          </th>
          <th class="py-2 text-left">
            {{ "ODRERDETAILS.QUANTITY" | translate }}
          </th>
          <th class="py-2 text-left">
            {{ "ODRERDETAILS.UNITPRICE" | translate }}
          </th>
          <th class="py-2 text-left">{{ "ODRERDETAILS.TOTAL" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of Order.products" class="border-b">
          <td class="flex items-center py-2">
            <img [src]="product.url" alt="Product 1" class="w-12 h-12 mr-2" />
            <div>
              <p class="font-medium">{{ product.productName }}</p>
              <p class="text-sm text-gray-500">
                {{ "ODRERDETAILS.DELIVERYDATE" | translate }}: 30/03/2022
              </p>
            </div>
          </td>
          <td class="py-2">{{ product.quantity }}</td>
          <td class="py-2">EGP{{ product.priceForUnit }}.00</td>
          <td class="py-2">EGP{{ product.total }}.00</td>
        </tr>
      </tbody>
      <tfoot class="">
        <!-- <tr>
          <td colspan="4" class="text-right py-2 col-11">Subtotal</td>
          <td class="py-2">$264.00</td>
        </tr>
        <tr>
          <td colspan="4" class="text-right py-2 pe-8">VAT (0%)</td>
          <td class="py-2">$0.00</td>
        </tr>
        <tr>
          <td colspan="4" class="text-right py-2">Shipping Rate</td>
          <td class="py-2 w-1/12">$5.00</td>
        </tr> -->
        <tr>
          <td colspan="4" class="text-right py-2 font-bold">
            {{ "ODRERDETAILS.GRANDTOTAL" | translate }}
          </td>
          <td class="py-2 font-bold">EGP{{ Order.total }}.00</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
